---
import Layout from '../layouts/Layout.astro';
import Scene from '../components/Scene';
---

<Layout title="Alkimera Demos.">
	<main>

		<div class="absolute">
			<h1>Welcome to <span class="text-gradient">Alkimera Demos Page</span></h1>
		</div>
		<div class="border border-[red] h-screen w-full">
			<Scene client:load />
			<!-- <Scene client:load /> -->
		</div>
	</main>
</Layout>
